<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <%= link_to  new_user_registration_path, class: "nav-link" do %>
    <i class="fa fa-fw fa-newspaper-o"></i>
    Sign Up
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to new_user_session_path, class: "nav-link" do %>
    <i class="fa fa-fw fa-sign-in"></i>
    Login
    <% end %>
  </li>
</ul>
