<div class="container-fluid">
  <div class="content-wrapper bg-light min-height-100pct">
<div class="row">
  <h1 class="col">Nearby Organizations</h1>

  <% @orgs.each do |org| %>
    <p><%= org %></p>
  <% end %>
</div>
</div>
</div>
